{
  "radio 1": [
    "Rockabilly Radio",
    "35%",
    "http://209.9.238.6:6042",
    true
  ],
  "radio 10": [
    "Veronica",
    "40%",
    "http://playerservices.streamtheworld.com/api/livestream-redirect/VERONICA.mp3",
    true
  ],
  "radio 11": [
    "Classic Praha",
    "50%",
    "http://icecast8.play.cz:80/classic128.mp3",
    true
  ],
  "radio 12": [
    "Venice Classic Radio Italia",
    "45%",
    "http://174.36.206.197:8000/stream",
    true
  ],
  "radio 13": [
    "1.FM - Ottos Opera",
    "35%",
    "http://strm112.1.fm/opera_mobile_mp3",
    true
  ],
  "radio 14": [
    "1.FM - Blues",
    "35%",
    "http://185.33.21.112:80/blues_128",
    true
  ],
  "radio 15": [
    "1.FM - Bossa Nova Hits",
    "35%",
    "http://185.33.21.112:80/bossanova_128",
    true
  ],
  "radio 16": [
    "1.FM - Classic Country",
    "35%",
    "http://185.33.21.112:80/ccountry_128",
    true
  ],
  "radio 17": [
    "Hope Radio Ireland - Top 40 Oldies",
    "35%",
    "http://162.216.17.221:8110/stream",
    true
  ],
  "radio 18": [
    "Dixieland-Oasis",
    "35%",
    "http://ca8.rcast.net:8018",
    true
  ],
  "radio 19": [
    "Radio Caprice Dixieland",
    "50%",
    "http://79.120.39.202:9039",
    true
  ],
  "radio 2": [
    "The krush, fm 95.9",
    "40%",
    "http://17853.live.streamtheworld.com/KRSHFMAAC.aac",
    true
  ],
  "radio 20": [
    "Radio Austral",
    "35%",
    "http://radioaustral.serverroom.us:8516/stream/1/",
    true
  ],
  "radio 21": [
    "ABC Radio Australian",
    "35%",
    "https://live-radio01.mediahubaustralia.com/RAEW/mp3/",
    true
  ],
  "radio 22": [
    "ABC Radio (Brisbane)",
    "40%",
    "https://live-radio01.mediahubaustralia.com/4LRW/mp3/",
    true
  ],
  "radio 23": [
    "kiss FM Australian",
    "35%",
    "http://cc.net2streams.com:8565/kissfm.mp3",
    true
  ],
  "radio 24": [
    "Radio Pilatus Schweiz",
    "35%",
    "https://radiopilatus.ice.infomaniak.ch/pilatus192.mp3",
    true
  ],
  "radio 25": [
    "Bandit Rock Sweden",
    "35%",
    "https://fm02-ice.stream.khz.se/fm02_mp3?platform=web",
    true
  ],
  "radio 26": [
    "Vinyl godis Sweden",
    "35%",
    "https://securestreams2.autopo.st:1061/stream//1/",
    true
  ],
  "radio 27": [
    "Guldkanalen 70-tal Sweden",
    "30%",
    "http://stream.dbmedia.se/gk70tal96",
    true
  ],
  "radio 28": [
    "Guldkanalen 80-tal Sweden",
    "30%",
    "http://stream.dbmedia.se/gk80talMP3",
    true
  ],
  "radio 29": [
    "Guldkanalen 90-tal Sweden",
    "30%",
    "http://stream.dbmedia.se/gk90talMP3",
    true
  ],
  "radio 3": [
    "CLASSIC ROCK RADIO HD",
    "30%",
    "http://us5.internet-radio.com:8267/listen.pls",
    false
  ],
  "radio 30": [
    "Spektra FM (Valencia) Spain",
    "35%",
    "https://stm2.emiteonline.com:9008/spektrafm",
    true
  ],
  "radio 31": [
    "esRadio Spain",
    "35%",
    "https://libertaddigital-radio-live1.flumotion.com/libertaddigital/ld-live1-low.mp3",
    true
  ],
  "radio 32": [
    "Raggakings Radio FM Jamaica",
    "35%",
    "https://raggakings.radio:8443/stream.ogg",
    true
  ],
  "radio 33": [
    "Go Figure Radio Jamaica",
    "35%",
    "https://ny.mysonicserver.com/8038/stream",
    true
  ],
  "radio 34": [
    "East Coast FM Ireland",
    "35%",
    "https://stream.audioxi.com/EASTCOAST",
    true
  ],
  "radio 35": [
    "100% NL Party",
    "30%",
    "http://stream.radiocorp.nl/100pnl_feest_mp3",
    true
  ],
  "radio 36": [
    "100% NL",
    "30%",
    "http://stream.100p.nl/100pctnl.mp3",
    true
  ],
  "radio 37": [
    "BBC Radio 1",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_radio_one",
    true
  ],
  "radio 38": [
    "BBC Radio 2",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_radio_two",
    true
  ],
  "radio 39": [
    "BBC Radio 3",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_radio_three",
    true
  ],
  "radio 4": [
    "Velvet 96.8",
    "35%",
    "http://s10.voscast.com:9942",
    true
  ],
  "radio 40": [
    "BBC Radio 4",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_radio_fourfm",
    true
  ],
  "radio 41": [
    "BBC Radio 4 exstra",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_radio_four_extra",
    true
  ],
  "radio 42": [
    "BBC Radio 5 live",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_radio_five_live_online_nonuk",
    true
  ],
  "radio 43": [
    "BBC Radio 6 music",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_6music",
    true
  ],
  "radio 44": [
    "BBC World Service",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_world_service",
    true
  ],
  "radio 45": [
    "Jazz FM UK",
    "35%",
    "https://stream-al.planetradio.co.uk/jazz.mp3",
    true
  ],
  "radio 46": [
    "Classic FM UK",
    "35%",
    "https://media-ice.musicradio.com/ClassicFMMP3",
    true
  ],
  "radio 47": [
    "BBC Radio Scotland",
    "35%",
    "https://stream.live.vc.bbcmedia.co.uk/bbc_radio_scotland_fm",
    true
  ],
  "radio 48": [
    "Jazz Radio France",
    "35%",
    "https://jazzradio.ice.infomaniak.ch/jazzradio-high.mp3",
    true
  ],
  "radio 49": [
    "WDR 1 live Germany",
    "35%",
    "https://wdr-edge-301b-dus-ts-cdn.cast.addradio.de/wdr/1live/live/mp3/128/stream.mp3",
    true
  ],
  "radio 5": [
    "LiveIreland (Dublin)",
    "35%",
    "http://192.111.140.11:8058/stream/1/",
    true
  ],
  "radio 50": [
    "WDR 2 Germany",
    "35%",
    "https://wdr-edge-201d-dus-lg-cdn.cast.addradio.de/wdr/wdr2/ruhrgebiet/mp3/128/stream.mp3",
    true
  ],
  "radio 51": [
    "WDR 4 Germany",
    "35%",
    "https://wdr-edge-301d-dus-ts-cdn.cast.addradio.de/wdr/wdr4/live/mp3/128/stream.mp3",
    true
  ],
  "radio 52": [
    "WDR 5 Germany",
    "35%",
    "https://wdr-edge-201f-fra-lg-cdn.cast.addradio.de/wdr/wdr5/live/mp3/128/stream.mp3",
    true
  ],
  "radio 53": [
    "Bayern 1 Germany",
    "35%",
    "https://br-edge-3008-dus-ts-cdn.cast.addradio.de/br/br1/obb/mp3/mid",
    true
  ],
  "radio 54": [
    "atenna bayern Germany",
    "35%",
    "https://s3-webradio.webradio.de/antenne",
    true
  ],
  "radio 55": [
    "Radio HR1  Germany",
    "35%",
    "https://hr-edge-304d-dus-ts-cdn.cast.addradio.de/hr/hr1/live/mp3/128/stream.mp3",
    true
  ],
  "radio 56": [
    "Radio HR3  Germany",
    "35%",
    "https://hr-edge-2052-fra-lg-cdn.cast.addradio.de/hr/hr3/live/mp3/128/stream.mp3",
    true
  ],
  "radio 57": [
    "NDR 2 (Hamburg) Germany",
    "35%",
    "https://ndr-edge-30ad-fra-ts-cdn.cast.addradio.de/ndr/ndr2/niedersachsen/mp3/128/stream.mp3",
    true
  ],
  "radio 58": [
    "BOB Live-Stream national",
    "35%",
    "https://bob.hoerradar.de/radiobob-national-mp3-hq",
    true
  ],
  "radio 59": [
    "Deutschlandfunk news - talk",
    "35%",
    "http://dradio-edge-3091-dus-ts-cdn.cast.addradio.de/dradio/dlf/live/mp3/128/stream.mp3",
    true
  ],
  "radio 6": [
    "Skyradio",
    "30%",
    "http://playerservices.streamtheworld.com/api/livestream-redirect/SKYRADIO.mp3",
    true
  ],
  "radio 60": [
    "Deutschlandfunk Kultur",
    "35%",
    "https://dradio-edge-3099-dus-ts-cdn.cast.addradio.de/dradio/kultur/live/mp3/128/stream.mp3",
    true
  ],
  "radio 61": [
    "Deutschlandradio - Dokumente und Debatten",
    "35%",
    "https://dradio-edge-20af-fra-lg-cdn.cast.addradio.de/dradio/dokdeb/live/mp3/64/stream.mp3",
    true
  ],
  "radio 62": [
    "WGBH",
    "35%",
    "https://streams.audio.wgbh.org:8200/wgbh-aac",
    true
  ],
  "radio 63": [
    "Jazz 24/7 (Boston)",
    "35%",
    "https://streams.audio.wgbh.org:8117/Jazz24-7",
    true
  ],
  "radio 64": [
    "B 101 Fm Wfeb",
    "35%",
    "https://us2.maindigitalstream.com/ssl/WFEB",
    true
  ],
  "radio 65": [
    "Lite Rock 105 (Rhode Island)",
    "35%",
    "https://22073.live.streamtheworld.com/WWLIFMAAC_SC?dist=onlineradiobox",
    true
  ],
  "radio 7": [
    "3 FM",
    "30%",
    "http://icecast.omroep.nl/3fm-bb-mp3",
    true
  ],
  "radio 8": [
    "Bliss 104.3",
    "40%",
    "http://66.55.145.43:7006",
    true
  ],
  "radio 9": [
    "Radio Swiss Jazz",
    "50%",
    "http://stream.srg-ssr.ch/m/rsj/aacp_96",
    true
  ]
}