<widget>
	<icon>fas fa-biohazard</icon>
	<div class="MultiRoomRadioManager" data-ref="MultiRoomRadioManager_MultiRoomRadioManager">
		<div class="MultiRoomRadioManager_explanation" data-ref="MultiRoomRadioManager_explanation">
			<h1>MultiRoomRadioManager Widget</h1>
			<div class="blink_me">RadioManager webserver down</div>
			<br>
			<br>
			<p>I have the same feelings as you have.</p>
			<p >I'm also anxiously waiting for Alice to come back here and play with the rest of us.</p>
				<p><img class="MultiRoomRadioManager_smiley_img" data-ref="MultiRoomRadioManager_smiley_img" src="#" alt="smiley"></p>

			<br>
			<p>Set this widget title and border to off.</p>
			<p>Set the WebInterface "canPlayAudio" to yes.</p>
			<br>
			<img class="MultiRoomRadioManager_img" data-ref="MultiRoomRadioManager_img" src="#" alt="radio">
		</div>
		<iframe class="MultiRoomRadioManager_radio" data-ref="MultiRoomRadioManager_radio" name="Framename" src="" frameborder="0" scrolling="no">
</div>
</widget>
