.RadioServerDown {
	display: none;
	text-align: center;
}


.blink_me {
	color: #00FFFF;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.float-container {
	display: block;

}

.float-child {
	color: white;
  float: left;
	height: 600px;
}

.float-child.left {
  width: 67%;
}

.float-child.right {
  width: 30%;
}
